{# <pre>
    {{ dump(post.custom.fields) }}
</pre> #}

{# <pre>
	{{ dump(post)}}
</pre> #}
{% set presentation1 = post.custom.fields.presentation_1 %}
{% set titre1 = post.custom.fields.titre_bloc %}

{% set titre2 = post.custom.fields.titre_bloc_2 %}
{% set presentation2 = post.custom.fields.presentation_2 %}

{% set presentation3 = post.custom.fields.presentation_3 %}

{% set titre_interpeller = post.custom.fields.titre_interpeller %}

{% set accroche = post.custom.fields.phrase_accroche %}

{% set btn = post.custom.fields.call_to_action_btn %}
{% set btn_url = post.custom.fields.bouton_1.url %}
{% set btn_target = post.custom.fields.bouton_1.target %}

{% set image_title = post.custom.fields.image_methode._wp_attachment_image_alt %}
{% set image = post.custom.fields.image_methode.guid %}

{% set call_to_action = post.custom.fields.call_to_action %}
{% set btn_lieu = post.custom.fields.btn_lieu %}


{% if presentation1 and presentation2 %}

	{% include "block/presentation.twig" with {text1: presentation1, text2: presentation2, image: image, image_title: image_title} only %}

{% endif %}


{% if titre1 %}
	{% include "partial/separator.twig" with {titre : titre1} only %}

{% endif %}

<section class="m_section">

	<div class="m_section__wrapper">

		<div class="m_content">
			{{post.content}}
		</div>

		{% if call_to_action%}

			<button class="wp-block-buttons">
				<a href="{{call_to_action}}" target="_blank" rel="noopener noreferrer" class="is-style-as-link-button">{{btn_lieu}}</a>
			</button>

		

		{% endif %}

	</div>


</section>
