<div class="container__content-presentation">

	<div class="block block__presentation-content">
		<p>{{text1}}</p>
		<div class="wp-block-buttons">
			<a href="{{link}}" target="_blank" rel="noopener noreferrer" class="is-style-as-link-button">{{text_link}}</a>
		</div>
		<p>{{text2}}</p>
	</div>

	<div class="block__presentation-image">
		<img src="{{image|resize(500,500)}}" alt="{{image_title}}">
	</div>

</div>
