<section class="m_section m_section__presentation">

	<div class="m_section__presentation-content">
		<p>{{text1}}</p>

		{% if link %}
			<button class="wp-block-buttons">
				<a href="{{link}}" target="_blank" rel="noopener noreferrer" class="is-style-as-link-button">{{text_link}}</a>
			</button>
		{% endif %}

		{% if text2 %}
			<p>{{text2}}</p>
		{% endif %}
	</div>

	<div class="m_section__presentation-image">
		<img src="{{image|resize(500,500)}}" alt="{{image_title}}">
	</div>

</section>
