{% block html_head_container %}

	{% include 'html-header.twig' %}
	{% block head %}{% endblock %}

</head>{% endblock %}<body class="{{body_class}}" data-template="base.twig">

<header class="header">
	{% block header %}
		<div
			class="wrapper">
			{# <nav id="nav-social" class="nav-social">
							{% include "menu-social.twig" %}
						</nav> #}
			<nav id="nav-main" class="nav-main" role="navigation">
				{% include "menu.twig" with {'items': menu.get_items} %}
			</nav>
			<!-- #nav -->
			<div class="logo_title">
				<a href="{{site.url}}" rel="home"> <img src="{{custom_logo_url}}" alt="{{custom_logo.alt}}"></a> {# todo faire que le alt apparaisse #}
				<h1>{{site.name}}</h1>
			</div>
		</div>
	{% endblock %}
</header>

<section id="content" role="main" class="content-wrapper">
	{% if title %}
		<h1>{{title}}</h1>
	{% endif %}
	<div class="wrapper {{sidebar_class}}">
		{% block content %}
			Sorry, no content
		{% endblock %}
	</div>
	{% if sidebar %}
		<aside class="layout-sidebar">
			{{sidebar}}
		</aside>
	{% endif %}
</section>

{% block footer %}
	<footer id="footer">
		{% include 'footer.twig' %}
	</footer>
	{{ function('wp_footer') }}
{% endblock %}</body></html>
