<div class="footer__contact">

	<div class="blocks">
		<div class="blocks__contact-content">
			<h3>CONTACT</h3>
			<div class="blocks__contact-content-items">
				<div class="information">
					{% block social_menu %}
					{% include "menu-social.twig" with {'items': menu.get_items} %}
					{% endblock %}
					<a href="tel:+">06.71.70.82.68</a>
					<a href="http://">Adresse</a>
				</div>
			</div>
		</div>

		<div class="blocks__logo">
			<a href="{{site.url}}" rel="home">
				<img src="{{custom_logo_url}}" alt="{{custom_logo.alt}}"></a>
			{# todo faire que le alt apparaisse #}
		</div>

		<nav class="blocks__nav">
			{% block footer_menu %}
				<h3>PLAN DU SITE</h3>
				{% include "menu.twig" with {'items': menu.get_items} %}
			{% endblock %}
		</nav>
	</div>
</div>

<div class="footer__copyright">

	<p>Copyright @
		{{"now"|date('Y')}}</p>
	<p>Marie-Josée Lespes</p>

	<div class="footer__copyright-links">
		<a href="http://" target="_blank" rel="noopener noreferrer">Mention légale</a>
		<a href="http://" target="_blank" rel="noopener noreferrer">Vie privée</a>
	</div>

	<p class="mention_design">Création du site, design et logo par
		<span>
			<a href="mailto:{{site.admin_email}}" target="_blank" rel="noopener noreferrer">Manon Lespes</a>
		</span>
	</p>

</div>
