{# {{ function('wp_nav_menu') }} #}

{% if social_menu %}
	<div
		id="menu-social" class="menu-social">

	{# 	<pre>
			{{ dump() }}
		</pre>
		  #}
		 
		<ul class="social-icons">
			{% for item in social_menu.items %}
				<li><a href="mailto:{{site.admin_email}}">{{site.admin_email}}</a></li>
				<li><a target="_blank"href="{{item.url}}">{{item.post_name}}</a></li>
			</ul>

		{% endfor %}

	</div>
{% endif %}
