{{ function('wp_nav_menu') }}

{# {% if menu %}
 #}
{# {{{dump(menu)}}} #}

	{# <ul class="menu">
	{% for item in primary_menu.items %}

		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'items': item.children} %}
		</li>

	{% endfor %}
	</ul>

{% endif %} #}

