{% extends "base.twig" %}

{# 	je suis dans la page.twig #}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section
				class="article-content">
				{# <h1 class="article-h1">{{post.title}}</h1> #}
				<div class="article-body">

					{% if post.custom.fields.personnalised_quote %}
						<div class="quote-container">
							<div class="is-style-quote-of-the-day">
								<p>{{post.custom.fields.personnalised_quote}}</p>
								<cite>{{post.custom.fields.author}}</cite>
							</div>
						</div>

					{% endif %}

					{# <pre>
											{{ dump(post) }}
										</pre> #}

					{# {% if post.custom.fields.flash_info %}
						<div class="is-style-personnalised-separator ">
							<h2>{{post.custom.fields.flash_info}}</h2>
						</div>
					{% endif %} #}

				</div>
			</section>
		</article>
	</div>
	<!-- /content-wrapper -->
{% endblock %}
